/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.topnav {
    overflow: hidden;
    background-color: #0D0D0D;
}

    .topnav a {
        float: left;
        color: #E8DF00;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 100%;
    }

        .topnav a:hover {
            background-color: #9D9D9D;
            color: #0D0D0D;
        }

        .topnav a.active {
            background-color: #9D9D9D;
            color: #0D0D0D;
        }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* chatbox*/
img {
    max-width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}


#chatbox {
    position: relative;
    width: 50%;
    height: 500px;
    
}

#chatmessages {
    overflow: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 500px;

}

/*incoming*/
.recieved {
    overflow: hidden;
    display: block;
    text-align: center;
}


.received_msg_img {
    display: inline-block;
    width: 20px;
    float: right;
}

.received_msg {
    float: right;
    width: 50%;
}

    .received_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 25px;
        font-size: 14px;
        color: #646464;
        margin: 0;
        padding: 5px 5px 5px 5px;
        width: 100%;
    }

/* outgoing = outgoing_msg_img + outgoing_msg*/
.outgoing {
    overflow: hidden;
    text-align: center;
}

.outgoing_msg_img {
    width: 20px;
    float: left;
}

.outgoing_msg {
    width: 50%;
    float: left;
}

    .outgoing_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 25px;
        font-size: 14px;
        color: #fff;
        margin: 0;
        padding: 5px 5px 5px 5px;
        width: 100%;
    }

/* added style*/
.interaction_protocol {
    position: relative;
    width: 400px;
    height: 100px;
}

.input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #4c4c4c;
    font-size: 15px;
    width: 400px;
    height: 50px;
}

.msg_listen_btn {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 100%;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    top: 0px;
}

.msg_send_btn {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 100%;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    bottom: 0px;
}

/*moving balls style*/
/* balls_container */
#balls_container {
    position:center;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
}

/* Balls */
#silverball, #yellowball {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    color: black;
    line-height: 100px;
    cursor: pointer;
}

#silverball {
    position: relative;
    background: #9D9D9D;
}

#yellowball {
    position: relative;
    background: #E8DF00;
}


/*Manifesto and Clusters*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background: #0D0D0D;
}

.stark {
    overflow:auto;
    text-align: center;
}

.stark_msg {
    width: auto;
    display:inline-flex;
}

    .stark_msg p {
        background: #0D0D0D none repeat scroll 0 0;
        border-radius: 25px;
        color: #E8DF00;
        margin: 0;
        font-size: 12px;
        padding: 5px 5px 5px 5px;
        animation-duration: 1.5s;
        animation-name: show;
        animation-iteration-count: infinite;

    }
    .stark_msg h4 {
        background: #0D0D0D none repeat scroll 0 0;
        border-radius: 25px;
        color: #9D9D9D;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }
    .stark_msg h5 {
        background: #0D0D0D none repeat scroll 0 0;
        border-radius: 25px;
        color: #9D9D9D;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }
    .stark_msg h6 {
        background: #0D0D0D none repeat scroll 0 0;
        border-radius: 25px;
        color: #9D9D9D;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }

.rack {
    overflow: auto;
    text-align: center;
}

.rack_msg {
    width: auto;
    display: inline-block;
}

    .rack_msg p {
        background: #0D0D0D none repeat scroll 0 0;
        border-radius: 25px;
        color: #E8DF00;
        margin: 0;
        font-size: 20px;
        padding: 5px 5px 5px 5px;
        animation-duration: 1.5s;
        animation-name: show;
        animation-iteration-count: infinite;
    }

    .rack_msg h6 {
        background: #0D0D0D none repeat scroll 0 0;
        border-radius: 25px;
        color: #9D9D9D;
        font-size: 20px;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }

    @keyframes show {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


